
  
* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

:root {
    --aqua: #66E2DC;
    --red: #FA7453;
    --orangle: #FFB964;
    --white: #FCFAF9;
    --black: #191826;
}

html {
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--black);
    background-color: var(--white);
}

body {
    background-image: url('../assets/bg-main-mobile.png');
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position:  top -250px left 80px;
}

/* HEADER */

header {
    width: 327px;
    margin: auto;
    position: relative;
}

h1 {
    margin: auto;
    font-size: 32px;
    font-weight: 700;
    padding-top: 40px;
    color: var(--black);
}

.pattern-img-body {
    position: absolute;
    left: -10000px;
    width: 266.6px;
    height: 400px;
    z-index: 1;
}

/* INTRO */

.intro {
    width: 327px;
    margin: auto;
    height: 327px;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.454545px;
    margin-top: 64px;
}

.intro p {
    height: 156px;
    width: 100%;
    line-height: 26px;
    margin-top: 20px;
}

/* CTA */

.call-to-action {
    width: 375px;
    margin: auto;
    height: 1024px;
    margin-top: 68px;
    position: relative;
}

.phone-img {
    display: block;
    height: 430px;
    width: 209px;
    position: absolute;
    top: -98px;
    left: 81px;
    z-index: 0;
}

.pattern-img {
    width: 75%;
    height: auto;
    position: absolute;
    left: 48px;
    z-index: -1;
}

.pattern-container {
    width: 375px;
    height: 600px;
    background-color: var(--black);
    border-radius: 12px;
    position: absolute;
    top: 98px;
    z-index: -2;
}

.cta-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 478px;
    width: 375px;
    height: 546px;
    background-color: var(--red);
    border-radius: 12px;
    color: var(--white);
}

.cta-text h3, p, button {
    width: 80%;
}

.cta-text h3 {
    margin-top: 48px;
    margin-bottom: 6px;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
}

.cta-first-p {
    margin-top: 6px;
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 28px;
}

.amount {
    display: flex;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 20px;
}

.cta-text p span {
    font-size: 65px;
    font-weight: 700;
    line-height: 52px;
    margin-right: 16px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 296px;
    height: 61px;
    border-radius: 12px;
    border: none;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.btn-ios {
    margin: 16px;
    background-color: var(--black);
    color: var(--white);
}

.btn-ios:hover {
    cursor: pointer;
    background-color: var(--aqua);
}

.btn-android {
    background-color: var(--white);
    margin-bottom: 48px;
    color: var(--black);
}

.btn-android:hover {
    cursor: pointer;
    background-color: var(--orangle);
}

.btn img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    margin-left: 0;
}

/* FOOTER */

footer {
    width: 327px;
    margin-top: 64px;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 64px;
}

.disclaimer h3 {
    font-size: 32px;
    margin-bottom: 32px;
}

.disclaimer p {
    font-size: 16px;
    line-height: 26px;
    width: 91%;
}

.disclaimer p span {
    font-weight: 700;
}

.footer-socials  {
    margin-top: 64px;
    margin-bottom: 80px;
}

.footer-socials img:hover {
    filter: invert(52%) sepia(35%) saturate(1007%) hue-rotate(322deg) brightness(104%) contrast(96%);
}

.middle-social {
    padding-left: 20px;
    padding-right: 20px;
}

.attribution {
    height: 20px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    font-size: 12px;
    text-align: center;
    background-color: #FCFAF9;
}

.attribution a { color: hsl(228, 45%, 44%); }

/* TABLET MEDIA QUERY */

@media only screen and (min-width: 768px) {
    
    body {
        background-image: url('../assets/bg-main-tablet.png');
        background-position:  top -280px left -320px;
    }
    
    header {
        width: 690px;
    }

    h1 {
        padding-top: 62px;
    }
    
    .pattern-img-body {
        left: 500px;
        top: -52px;
        width: 266.7px;
        height: 400px;
    }

    /* INTRO SECTION for min-width: 768px */

    .intro {
        width: 690px;
        height: 332px;
    }

    h2 {
        font-size: 64px;
        line-height: 64px;
        letter-spacing: -0.73px;
        margin-top: 95px;
        width: 520px;
    }

    .intro p {
        height: 112px;
        width: 520px;
        font-size: 18px;
        line-height: 28px;
        margin-top: 28px;
    }

    /* CTA SECTION for min-width: 768px */

    .call-to-action {
        width: 696px;
        height: 834px;
        margin-top: 111px;
    }

    .pattern-container {
        width: 696px;
        height: 600px;
        top: 138px;
    }

    .phone-img {
        height: 556px;
        width: 270px;
        top: -138px;
        left: 64px;
    }
    
    .pattern-img {
        width: 40.2%;
        top: -31px;
        left: 229px;
    }

    .cta-text {
        top: 288px;
        left: 239px;
        width: 399px;
        height: 546px;
    }
    
    .cta-text h3, p, button {
        width: 75.6%;
    }
    
    /* FOOTER SECTION for min-width: 768px */

    footer {
        width: 696px;
        flex-direction: row;
        margin-top: 87px;
        margin-bottom: 20px;
    }

    .disclaimer p {
        height: 79px;
        width: 326px;
    }

    .footer-socials  {
        height: 79px;
        width: 100%;
        display: flex;
        justify-content: right;
        align-items: center;
    }
}

/* DESKTOP MEDIA QUERY */

@media only screen and (min-width: 1440px) {

    body {
        background-image: url('../assets/bg-main-desktop.png');
        /* background-position:  top -280px left -320px; */
    }

    header {
        width: 1110px;
    }
    
    .pattern-img-body {
        left: 955px;
    }

    /* INTRO SECTION for min-width: 1440px */

    .intro {
        width: 1110px;
        height: 318px;
    }

    h2 {
        font-size: 88px;
        line-height: 88px;
        letter-spacing: -1px;
        margin-top: 127px;
        width: 1000px;
    }

    .intro p {
        height: 102px;
        width: 825px;
        font-size: 20px;
        line-height: 34px;
        margin-top: 40px;
    }

    /* CTA SECTION for min-width: 1440px */
    
    .call-to-action {
        width: 1110px;
        height: 928px;
        margin-top: 108px;
    }

    .pattern-img {
        width: 312px;
        height: 468;
        left: 336px;
        top: -40px;
    }

    .pattern-container {
        width: 1110px;
        height: 600px;
        top: 213px;
    }

    .phone-img {
        height: 642px;
        width: 312px;
        top: -213px;
        left: 102px;
    }

    .cta-text {
        top: 303px;
        left: 569px;
        width: 446px;
        height: 625px;
    }

    .cta-text h3, p, button {
        width: 74%;
    }

    .cta-text h3 {
        margin-top: 58px;
        margin-bottom: 11px;
        font-size: 40px;
        line-height: 52px;
    }

    .cta-first-p {
        margin-top: 11px;
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 34px;
    }

    .amount {
        margin-top: 19px;
        margin-bottom: 23px;
    }

    .btn-ios {
        margin-top: 23px;
    }
}