
  
* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}


html {
    box-sizing: border-box;

}

/* FOOTER */

.attribution {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    font-size: 11px;
    text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }