
  
* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

:root {
    --aqua: hsl(177,68,64);
    --red: hsl(12,94,65);
    --orangle: hsl(33,100,70);
    --white: hsl(20,33,98);
    --black: hsl(244,23,12);
}

html {
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--black);
    background-color: var(--white);
}

body {
    background-image: url('../assets/bg-main-mobile.png');
    background-repeat: no-repeat;
    background-position:  top -250px right -190px;
}

/* HEADER */

h1 {
    width: 327px;
    margin: auto;
    font-size: 32px;
    font-weight: 700;
    margin-top: 40px;
    color: var(--black);
}

/* INTRO */

.intro {
    width: 327px;
    margin: auto;
    height: 327px;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.454545px;
    margin-top: 64px;
}

.intro p {
    height: 156px;
    width: 100%;
    line-height: 26px;
    margin-top: 20px;
}

/* CTA */

.call-to-action {
    width: 375px;
    margin: auto;
    height: 1024px;
}

.call-to-action img {
    display: block;
    height: 430px;
    width: 209px;
    margin: auto;
}

.pattern-container {
    width: 375px;
    height: 600px;
    background-color: #191826;
    border-radius: 12px;
    position: absolute;
    top: 570px;
    z-index: -1;
}

.pattern-container img {
    width: 75%;
    height: auto;
}

.cta-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 950px;
    width: 375px;
    height: 546px;
    background-color: #FA7453;
    border-radius: 12px;
    color: #FCFAF9;
}

.cta-text h3, p, button {
    width: 80%;
}

.cta-text h3 {
    margin-top: 48px;
    margin-bottom: 6px;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
}

.cta-first-p {
    margin-top: 6px;
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 28px;
}

.amount {
    display: flex;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 16px;
}

.cta-text p span {
    font-size: 65px;
    font-weight: 700;
    line-height: 52px;
}

.cta-text button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 296px;
    height: 61px;
    border-radius: 12px;
    border: none;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.btn-ios {
    margin: 16px;
    background-color: #191826;
    color: #FCFAF9;
}

.btn-android {
    background-color: #FCFAF9;
    margin-bottom: 48px;
    color: #191826;
}

.btn-text img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    margin-left: 0;
}

/* FOOTER */

.attribution {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    font-size: 11px;
    text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }